__pycache__/
*/__pycache__/
setup.py
py2so.py
*.log
anchors.txt
counters_per_class.txt
chart_yolov4-tiny.png
chart_yolov3-tiny.png
chart_yolov4-leaky.png
chart_yolov3.png
chart_yolov4.png
chart.png
Vitis-AI
Vitis-AI-older
vitis-ai-utility
web copy
project/*
!project/samples/
pretrainedmodel/*
!pretrainedmodel/README.md
!pretrainedmodel/pretrained_download.py
bad_label.list
bad.list
pgdata/
*/unet/*
tensorflow_2.sh
*/pgdb/pgdata/*
*/pgdb/postgres.py
pytorch-YOLOv4/
hailo_sw_suite_2023-01.tar
hailo_sw_suite_docker_run.sh
*.png
!docs/*.png
!*/docs/*.png